
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */
@font-face {
    font-family: 'DakotaRegular';
    src: url('dakota-regular-webfont.eot');
    src: url('dakota-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('dakota-regular-webfont.woff') format('woff'),
         url('dakota-regular-webfont.ttf') format('truetype'),
         url('dakota-regular-webfont.svg#DakotaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.html {
    background-image: url("images/tube.png");
    background-position: 0 250px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 150%;	
}

ul.primary li.active a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #BBB;

}

ul.primary {
	border-bottom: 0px solid #BBB;
	border-collapse: collapse;
	height: auto;
	line-height: normal;
	list-style: none;
	margin: 0px;
	padding: 0 0 0 0em;
	white-space: normal;
	margin-bottom:5px;
}

ul.primary li {
	white-space: nowrap;
}

ul.primary li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #DDD;
	border-color: #BBB;
	border-style: solid;
	border-width: 1px;
	height: auto;
	margin-right: 0.5em;
	padding: 0 1em;
	text-decoration: none;
}

.element-invisible{
		
}

#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative; 
  font-family:Arial, Helvetica, sans-serif;
}

.breadcrumb {
		font-family: 'DakotaRegular';
		font-size:10px;

}

.title {
		font-family: 'DakotaRegular';
		font-size:14px;
}

#content {
  width: 100%; 
}

.column {
	margin-top: 10px;
}

body.sidebar-first #content {
  width: 80%;
  left: 20%; /* LTR */
}
body.sidebar-second #content {
  width: 80%;
}
body.two-sidebars #content {
  width: 60%;
  left: 19%	;
}

#sidebar-first {
	width: 17%;
	left: -80%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;	
	min-width: 150px;
	background-color:rgba(255,255,255,0.5);	
	min-height: 200px;	
}

body.two-sidebars #sidebar-first {
  left: -60%; /* LTR */
}

#sidebar-second {
  /*float: right; /* LTR */
  width: 17%;
  font-family: Arial, Helvetica, sans-serif;
  /*-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #ccc; */
  left: 4%;
  margin-top: 10px;
  min-width: 150px;
  /*margin-left:20px;*/
  /*margin-right: 10px;*/
  background-color:rgba(255,255,255,0.5);		
  /* min-height: 400px;*/
}


 #block-block-2, #block-block-3, #block-block-4, #block-shib-auth-login-box  {
  float: right; /* LTR */
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom:10px;
  margin-left: 30px;
  padding:10px;
  border: 2px solid #ccc; 
  min-width: 150px;
  margin-left:20px;
  margin-right: 10px;
  background-color:rgba(255,255,255,0.5);		
 /* min-height: 400px;*/
}

h2 {
font-family: 'DakotaRegular';	
}

.region-help {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 2px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
/*	min-width: 550px;*/
	background-color:rgba(255,255,255,0.5);		
}

.region-content {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 2px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 40px;
	/*min-width: 500px;*/
	background-color:rgba(255,255,255,0.5);		
}


#sidebar-second  .section {
/*margin:10px;*/
}
#sidebar-first .section {
margin:10px;
}

#header {
	border-bottom-color: #ccc;
	background-color: none;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

#page {
    background-image: url("images/brush.png");
    background-position: 100% 50px;
    background-repeat: no-repeat;	
}

#searchbar {
	position: absolute;
	width:500px;
	top:30px;
	right:5px;
	font-family:Arial, Helvetica, sans-serif;	
}

#edit-submit {
	cursor: pointer;
/*padding: 4px 17px;*/
margin-bottom: 1em;
margin-right: 1em;
color: #5A5A5A;
text-align: center;
font-weight: normal;
font-size: 1.077em;
font-family: "Lucida Grande", Verdana, sans-serif;
border: 0px solid 
#E4E4E4;
border-bottom: 1px solid 
#B4B4B4;
border-left-color: 
#D2D2D2;
border-right-color: 
#D2D2D2;
background: url(images/buttons.png) 0 0 repeat-x;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
	
	
	/*position: absolute;
	width:126px;
	top:35px;
	right:0px;
	font-family:Arial, Helvetica, sans-serif;
	float:right;	*/
}


#edit-submit--2 {
	position: absolute;
	width:126px;
	top:35px;
	right:0px;
	font-family:Arial, Helvetica, sans-serif;
	float:right;	
}
#edit-submit--3 {
	position: absolute;
	width:126px;
	top:35px;
	right:0px;
	font-family:Arial, Helvetica, sans-serif;
	float:right;	
}

#block-custom-search-blocks-1 {
width:400px;
padding: 0px 0 0px;
color: #464646;
font-size: x-large;
text-decoration: none;
font-family: 'DakotaRegular';
font-weight: bold;
/*background-image: url("images/splash1.png");*/
background-position: 0 0px;
background-repeat: no-repeat;
float:left;
position:absolute;
}

#help-box {
padding: 0px 0 0px;
float:right;
color: #464646;
font-size: x-large;
text-decoration: none;
font-family: 'DakotaRegular';
font-weight: bold;
background-image: url("images/splash1.png");
background-position: 0 0px;
background-repeat: no-repeat;
padding-top: 30px;
padding-bottom: 25px;
padding-left: 25px;
position:absolute;
right:0px;
top:25px;
}

.form-item, .form-actions {
margin-top: 0px;
margin-bottom: 0px
}

#edit-custom-search-blocks-form-1--2 {
	width: 250px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	background-color:rgba(255,255,255,0.75);
	height:30px;
	position: absolute;
	top:45px;
	right:110px;
	font-family:Arial, Helvetica, sans-serif;		
}

.region {

}


.menu {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 100%;
	min-width:120px;
	padding: 0px;
	margin: 0px;
}

.leaf ul { 
font-family:Arial, Helvetica, sans-serif;
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}
.leaf ul li {
margin: 0px;
padding: 0px;
}

ul li.leaf  {
display: block;
border-bottom: 1px sold #CCC;
padding: 0px 0px 0px 0px;
text-decoration: none;
color: #555;
width:100%;
min-width:160px;
font-family:Arial, Helvetica, sans-serif;
}

ul li.leaf a {
	text-decoration:none;
	color: #555;
}

ul li.leaf a:hover, .menu ul li.leaf a:focus {
color: #000000;
width:100%;
min-width:160px;
}
#block-system-main-menu {
    margin-bottom: 20px;
    margin-top: 20px;
}

.field-items p {
	display: block;
	padding: 5px 0px 2px 0px;
	text-decoration: none;
	color: #555;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 120%;
}

.search-results .title {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 100%;	
}

.node-readmore {
	font-family: Arial, Helvetica, sans-serif;
	float:right;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-size:11px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.node-readmore a {
	color:#777777;
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;	
}

.node-readmore:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.node-readmore:active {
	position:relative;
	top:1px;
} 

.content h2 a {
	position: relative;
	padding: 0px 0 0px;
	color: #464646;;
	text-decoration: none;
	font-family: 'DakotaRegular';
	font-weight: bold;
}

.content h2 {
	display: block;
	width: 100%;
	font-weight: bold;	
}

.content h2 a:visited {
	color: #464646;
}

.content h2 a:hover {
	color: #777;
}

.region-sidebar-second {
	color: #555;
}

.item-list ul {
		font-family: 'DakotaRegular';
		/*font-size:16px;*/
}

.item-list ul li {
    margin: 0 0 0.25em 0em;
    padding: 0;
}

.item-list a {
	display: block;
	border-bottom: 1px sold #CCC;
	padding: 5px 0px 2px 0px;
	text-decoration: none;
	color: #555;
	width:100%;
	min-width:160px;
	/*font-family: Arial, Helvetica, sans-serif;*/
}

.item-list a:hover {
	text-decoration: underline;
	color: #000;
}

#region-page-top {
	height: 0px;
}

.section h2 {
	position: relative;
	padding: 0px 0 0px;
	color: #464646; 
	font-size: x-large;
	text-decoration: none;
	font-family: 'DakotaRegular';
	font-weight: bold;
    background-image: url("images/splash1.png");
    background-position: 0 0px;
    background-repeat: no-repeat; 
	padding-top:30px;
	padding-bottom:25px;
	padding-left:25px;
}

.signtext { vertical-align:middle}


#loginbox {
	position: relative;
	padding: 0px 0 0px;
	color: #464646; 
	font-size: x-large;
	text-decoration: none;
	font-family: 'DakotaRegular';
	font-weight: bold;
    background-image:  url("images/splash1.png") ;
    background-position: 0px 0px;
    background-repeat: no-repeat; 
	padding-top:30px;
	padding-bottom:25px;
	padding-left:25px;
	text-align:left;
}

#loginbox a {text-decoration:none;
color:#333333;
}


#png1 {
	    background-image: url("images/1.png") ;
    	background-position: 15px 0px;
	    background-repeat: no-repeat; 		
		padding-left:60px;
		height:100px;
		padding-top: 0px;
 		text-align:left;	
		vertical-align: middle;	
     	margin-bottom:10px;		
 }


#png2 {
	    background-image: url("images/2.png");
  		background-position: 0px 0px;
  		background-repeat: no-repeat; 		
		padding-left:60px;		
		height:100px;
		padding-top: 0px;	
  	    text-align:left;	
		vertical-align:middle; 
		margin-bottom:10px;		 					
}

#png3 {
	    background-image: url("images/3.png");
    	background-position: 0px 0px;
	    background-repeat: no-repeat; 		
		padding-left:60px;		
		height:100px;		
		padding-top: 0px;
		text-align:left; 
		vertical-align:middle;	
}


#createuserbox {
	position: relative;
	padding: 0px 0 0px;
	color: #464646; 
	font-size: x-large;
	text-decoration: none;
	font-family: 'DakotaRegular';
	font-weight: bold;
    background-image: url("images/splash1.png");
    background-position: 0px 0px;
    background-repeat: no-repeat; 
	padding-top:30px;
	padding-bottom:25px;
	padding-left:25px;
	text-align:left;	
}

#ortext { text-align:center; }

#createuserbox a {text-decoration:none;
color:#333333;
}


#textresizer { 
    /*set the div in the top right corner*/
    position:absolute;
    top:0;
    right:0;
    width:200px; 
	padding-right: 30px;
}



/**
 * Generic elements.
 */
/*body {
  color: #000;
  background: #fff;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}*/
a {
  color: #0074BD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}
legend {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 10px 0;
}
h1 {
  font-size: 1.538em;
}
h2 {
  font-size: 1.385em;
}
h3 {
  font-size: 1.231em;
}
h4 {
  font-size: 1.154em;
}
h5,
h6 {
  font-size: 1.077em;
}
p {
  margin: 1em 0;
}
dl {
  margin: 0 0 20px;
}
dl dd,
dl dl {
  margin-left: 20px; /* LTR */
  margin-bottom: 10px;
}
blockquote {
  margin: 1em 40px;
}
address {
  font-style: italic;
}
u,
ins {
  text-decoration: underline;
}
s,
strike,
del {
  text-decoration: line-through;
}
big {
  font-size: larger;
}
small {
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
nobr {
  white-space: nowrap;
}
abbr,
acronym {
  border-bottom: dotted 1px;
}
ul,
.block ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
.item-list .pager li {
  padding: 0.5em;
display: inline-block;
min-width: 20px;
}

.user-picture {
min-width: 124px;
min-height: 124px;
height:124px;
width:124px;
display:inline;	
}

.pager li {
  padding: 0.5em;
display: inline-block;
min-width: 20px;
}

.pager li a {
  padding: 0.5em;
display: inline-block;
min-width: 20px;
}

.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(../../misc/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(../../misc/menu-expanded.png);
  list-style-type:circle;
}
quote,
code {
  margin: .5em 0;
}
code,
pre,
kbd {
  font-size: 1.231em;
}
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

/**
 * Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%; /* LTR */
  margin-left: -5.25em; /* LTR */
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px; /* LTR */
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}

/**
 * Branding.
 */
#branding {
  overflow: hidden;
  padding: 20px 20px 0 20px; /* LTR */
  position: relative;
  background-color: #e0e0d8;
}
#branding div.breadcrumb {
  font-size: 0.846em;
  padding-bottom: 5px;
}
#branding div.block {
  position: relative;
  float: right; /* LTR */
  width: 240px;
  padding-left: 10px; /* LTR */
  background: #333;
}
#branding div.block form label {
  display: none;
}
#branding div.block form div.form-item {
  float: left; /* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}
#branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px; /* LTR */
}
#branding div.block form input.form-submit {
  text-align: center;
  width: 80px;
}

/**
 * Help.
 */
#help {
  font-size: 0.923em;
  margin-top: 1em;
}
#help p {
  margin: 0 0 10px;
}
#help div.more-help-link {
  text-align: right; /* LTR */
}

/**
 * Page title.
 */
#page-title {
  background: #333;
  padding-top: 20px;
}
#branding h1.page-title {
  color: #000;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.385em;
  font-weight: normal;
  float: left; /* LTR */
}

/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}

.custom-search-box { font-size:14px;
}

/**
 * Page layout.
 */

#secondary-links ul.links li {
  padding: 0 10px 10px 0; /* LTR */
}
#secondary-links ul.links li a {
  font-size: 0.923em;
  background: #777;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 55px;
  width: 80px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#secondary-links ul.links li a:hover {
  background: #999;
}
ul.links li,
ul.inline li {
  padding-right: 1em; /* LTR */
}
ul.inline li {
  display: inline;
}
#secondary-links ul.links li.active-trail a,
#secondary-links ul.links li a.active {
  background: #333;
}
ul.admin-list li {
  position: relative;
  padding-left: 30px; /* LTR */
  padding-top: 9px;
  border-top: 1px solid #ccc;
  margin-left: 0; /* LTR */
  margin-bottom: 10px;
  background: url(images/list-item.png) no-repeat 0 11px; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
.admin-panel .item-list ul,
ul.admin-list {
  margin: 0;
  padding: 0;
}
.admin-panel .item-list ul,
ul.admin-list.compact {
  margin: 8px 0;
}
.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}
ul.admin-list li:last-child {
  border-bottom: none;
}
ul.admin-list li a {
  margin-left: -30px; /* LTR */
  padding: 0 0 4px 30px; /* LTR */
  min-height: 0;
}
ul.admin-list.compact li a {
  margin-left: 0; /* LTR */
  padding: 0;
}
ul.admin-list li div.description a {
  margin-left: 0; /* LTR */
  padding: 0;
  min-height: inherit;
}
div.submitted {
  color: #898989;
}

/**
 * Tables.
 */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
}
table td,
table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}
tr.even,
tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
  background: #f3f4ee;
}
tr.odd {
  background: #fff;
}
tr.drag {
  background: #fe7;
}
tr.drag-previous {
  background: #ffb;
}
table th {
  text-transform: uppercase;
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  padding: 3px 10px;
}
table th.active {
  background: #bdbeb9;
}
table th a {
  display: block;
  position: relative;
}
table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px; /* LTR */
}
table td.active {
  background: #e9e9dd;
}
table tr.odd td.active {
  background: #f3f4ee;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}
/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
tr td:last-child {
  border-right: 1px solid #bebfb9; /* LTR */
}


/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers in Seven. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
fieldset {
  border: 1px solid #ccc;
  padding: 2.5em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
}
fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px; /* LTR */
  position: absolute;
  text-transform: uppercase;
}
fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px; /* LTR */
}
fieldset.collapsed {
  background-color: transparent;
}
html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
fieldset fieldset {
  background-color: #fff;
}
fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

/**
 * Form elements.
 */
.form-item {
  padding: 9px 0;
  margin: 0 0 10px;
}
.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}
.form-type-checkbox {
  padding: 0;
}
.text-format-wrapper .form-item {
  padding-bottom: 0;
}
.form-item label {
  margin: 0;
  padding: 0;
}
.form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}
.form-item label.option input {
  vertical-align: middle;
}
.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

/* Filter */
.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}
.filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}
.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0; /* LTR */
}
ul.tips,
div.description,
.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}
ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em; /* LTR */
}
input.form-submit,
a.button {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}
input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0 -1px 0;
}
input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
}
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
  border-color: #ace;
}
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
html.js input.throbbing {
  background-position: 100% -16px;
}
ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px; /* LTR */
  list-style-type: none;
  overflow: hidden;
}
ul.action-links li {
  float: left; /* LTR */
  margin: 0 1em 0 0; /* LTR */
}
ul.action-links a {
  padding-left: 15px; /* LTR */
  background: transparent url(images/add.png) no-repeat 0 center;
  line-height: 30px;
}

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel,
div.admin-panel .body {
  padding: 0;
  clear: left;
}
div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}
div.admin-panel h3 {
  font-size: 0.923em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: bold;
}
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* Update options. */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}
div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}
div.admin-options label,
div.admin-options div.form-item {
  margin-right: 10px; /* LTR */
  float: left; /* LTR */
}
div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
.versions table.version {
  border: none;
}

/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left; /* LTR */
  width: 200px;
}
body.in-maintenance #content {
  float: right; /* LTR */
  width: 550px;
  padding-right: 20px; /* LTR */
  clear: none;
}
body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}
body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}
body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}
body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}
body.in-maintenance .form-submit {
  display: block;
}
body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}
ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #adadad;
}
ol.task-list li.active {
  background: transparent url(images/task-item.png) no-repeat 3px 50%; /* LTR */
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #000;
}
ol.task-list li.done {
  background: transparent url(images/task-check.png) no-repeat 0 50%;
  color: green;
}

/* Overlay theming */
.overlay #branding {
  background-color: #fff;
  padding-top: 15px;
}
.overlay #branding h1.page-title,
.overlay #left,
.overlay #footer {
  display: none;
}
.overlay #page {
  margin: 0;
  padding: 0 20px;
}
.overlay #branding div.breadcrumb {
  float: left; /* LTR */
  position: relative;
  z-index: 10;
}
#overlay-tabs {
  bottom: -1px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}
#overlay-tabs li {
  margin: 0 -2px;
}
.overlay ul.secondary {
  background: transparent none;
  margin: -1.4em 0 0.3em 0; /* LTR */
  overflow: visible;
}
.overlay #content {
  padding: 0;
}
h1#overlay-title {
  font-weight: normal;
}

/* Shortcut theming */
div.add-or-remove-shortcuts {
  float: left; /* LTR */
  padding-top: 6px;
  padding-left: 6px; /* LTR */
}

/* Dashboard */
#dashboard .dashboard-region div.block h2 {
  background: #E0E0D8;
}
#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}
#dashboard div.block div.content {
  padding: 10px 5px 5px 5px; /* LTR */
}
#dashboard div.block div.content ul.menu {
  margin-left: 20px; /* LTR */
}
#dashboard .dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */

#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}
#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}
#field-display-overview tr.drag {
  background: #FFEE77;
}
#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}
#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}
#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}
#block-node-recent table,
#block-node-recent tr {
  border: none;
}
#block-node-recent .more-link {
  padding: 0 5px 5px 0; /* LTR */
}

/* User login block */
#user-login-form .openid-links {
  margin-left: 0; /* LTR */
}
#user-login-form .openid-links .user-link {
  margin-left: 1.5em; /* LTR */
}

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}
#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}
#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}
.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#main-wrapper { display:inline;}