
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */
@font-face {
    font-family: 'DakotaRegular';
    src: url('dakota-regular-webfont.eot');
    src: url('dakota-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('dakota-regular-webfont.woff') format('woff'),
         url('dakota-regular-webfont.ttf') format('truetype'),
         url('dakota-regular-webfont.svg#DakotaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.html {
    background-image: url("images/tube.png");
    background-position: 0 250px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 150%;	
}

ul.primary li.active a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #BBB;

}

ul.primary {
	border-bottom: 0px solid #BBB;
	border-collapse: collapse;
	height: auto;
	line-height: normal;
	list-style: none;
	margin: 0px;
	padding: 0 0 0 0em;
	white-space: nowrap;
	margin-bottom:5px;
}

ul.primary li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #DDD;
	border-color: #BBB;
	border-style: solid;
	border-width: 1px;
	height: auto;
	margin-right: 0.5em;
	padding: 0 1em;
	text-decoration: none;
}

.element-invisible{
		
}

#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative; 
  font-family:Arial, Helvetica, sans-serif;
}

.breadcrumb {
		font-family: 'DakotaRegular';
		font-size:10px;

}

.title {
		font-family: 'DakotaRegular';
		font-size:14px;
}

#content {
  width: 100%; 
}

.column {
	margin-top: 10px;
}

body.sidebar-first #content {
  width: 80%;
  left: 20%; /* LTR */
}
body.sidebar-second #content {
  width: 80%;
}
body.two-sidebars #content {
  width: 60%;
  left: 19%	;
}

#sidebar-first {
	width: 17%;
	left: -80%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;	
	min-width: 150px;
	background-color:rgba(255,255,255,0.5);	
	min-height: 200px;	
}

body.two-sidebars #sidebar-first {
  left: -60%; /* LTR */
}

#sidebar-second {
  /*float: right; /* LTR */
  width: 17%;
  font-family: Arial, Helvetica, sans-serif;
  /*-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #ccc; */
  left: 4%;
  margin-top: 10px;
  min-width: 150px;
  /*margin-left:20px;*/
  /*margin-right: 10px;*/
  background-color:rgba(255,255,255,0.5);		
  /* min-height: 400px;*/
}


 #block-block-2, #block-block-3, #block-block-4 {
  float: right; /* LTR */
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom:10px;
  margin-left: 30px;
  padding:10px;
  border: 2px solid #ccc; 
  min-width: 150px;
  margin-left:20px;
  margin-right: 10px;
  background-color:rgba(255,255,255,0.5);		
 /* min-height: 400px;*/
}

h2 {
font-family: 'DakotaRegular';	
}

.region-help {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 2px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
/*	min-width: 550px;*/
	background-color:rgba(255,255,255,0.5);		
}

.region-content {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 2px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 40px;
	/*min-width: 500px;*/
	background-color:rgba(255,255,255,0.5);		
}


#sidebar-second  .section {
/*margin:10px;*/
}
#sidebar-first .section {
margin:10px;
}

#header {
	border-bottom-color: #ccc;
	background-color: none;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

#page {
    background-image: url("images/brush.png");
    background-position: 100% 50px;
    background-repeat: no-repeat;	
}

#searchbar {
	position: absolute;
	width:500px;
	top:30px;
	right:5px;
	font-family:Arial, Helvetica, sans-serif;	
}

#edit-submit {
	position: absolute;
	width:126px;
	top:35px;
	right:0px;
	font-family:Arial, Helvetica, sans-serif;
	float:right;	
}


#edit-submit--2 {
	position: absolute;
	width:126px;
	top:35px;
	right:0px;
	font-family:Arial, Helvetica, sans-serif;
	float:right;	
}
#edit-submit--3 {
	position: absolute;
	width:126px;
	top:35px;
	right:0px;
	font-family:Arial, Helvetica, sans-serif;
	float:right;	
}

#block-custom-search-blocks-1 {
width:400px;
padding: 0px 0 0px;
color: #464646;
font-size: x-large;
text-decoration: none;
font-family: 'DakotaRegular';
font-weight: bold;
/*background-image: url("images/splash1.png");*/
background-position: 0 0px;
background-repeat: no-repeat;
float:left;
position:absolute;
}

#help-box {
padding: 0px 0 0px;
float:right;
color: #464646;
font-size: x-large;
text-decoration: none;
font-family: 'DakotaRegular';
font-weight: bold;
background-image: url("images/splash1.png");
background-position: 0 0px;
background-repeat: no-repeat;
padding-top: 30px;
padding-bottom: 25px;
padding-left: 25px;
position:absolute;
right:0px;
top:25px;
}

.form-item, .form-actions {
margin-top: 0px;
margin-bottom: 0px
}

#edit-custom-search-blocks-form-1--2 {
	width: 250px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	background-color:rgba(255,255,255,0.75);
	height:30px;
	position: absolute;
	top:45px;
	right:110px;
	font-family:Arial, Helvetica, sans-serif;		
}

.region {

}


.menu {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 100%;
	min-width:120px;
	padding: 0px;
	margin: 0px;
}

.leaf ul { 
font-family:Arial, Helvetica, sans-serif;
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}
.leaf ul li {
margin: 0px;
padding: 0px;
}

ul li.leaf  {
display: block;
border-bottom: 1px sold #CCC;
padding: 0px 0px 0px 0px;
text-decoration: none;
color: #555;
width:100%;
min-width:160px;
font-family:Arial, Helvetica, sans-serif;
}

ul li.leaf a {
	text-decoration:none;
	color: #555;
}

ul li.leaf a:hover, .menu ul li.leaf a:focus {
color: #000000;
width:100%;
min-width:160px;
}
#block-system-main-menu {
    margin-bottom: 20px;
    margin-top: 20px;
}

.field-items p {
	display: block;
	padding: 5px 0px 2px 0px;
	text-decoration: none;
	color: #555;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 120%;
}

.search-results .title {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 100%;	
}

.node-readmore {
	font-family: Arial, Helvetica, sans-serif;
	float:right;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-size:11px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.node-readmore a {
	color:#777777;
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;	
}

.node-readmore:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.node-readmore:active {
	position:relative;
	top:1px;
} 

.content h2 a {
	position: relative;
	padding: 0px 0 0px;
	color: #464646;;
	text-decoration: none;
	font-family: 'DakotaRegular';
	font-weight: bold;
}

.content h2 {
	display: block;
	width: 100%;
	font-weight: bold;	
}

.content h2 a:visited {
	color: #464646;
}

.content h2 a:hover {
	color: #777;
}

.region-sidebar-second {
	color: #555;
}

.item-list ul {
		font-family: 'DakotaRegular';
		font-size:12px;
}

.item-list ul li {
    margin: 0 0 0.25em 0em;
    padding: 0;
}

.item-list a {
	display: block;
	border-bottom: 1px sold #CCC;
	padding: 5px 0px 2px 0px;
	text-decoration: none;
	color: #555;
	width:100%;
	min-width:160px;
	font-family: Arial, Helvetica, sans-serif;
}

.item-list a:hover {
	text-decoration: underline;
	color: #000;
}

#region-page-top {
	height: 0px;
}

.section h2 {
	position: relative;
	padding: 0px 0 0px;
	color: #464646; 
	font-size: x-large;
	text-decoration: none;
	font-family: 'DakotaRegular';
	font-weight: bold;
    background-image: url("images/splash1.png");
    background-position: 0 0px;
    background-repeat: no-repeat; 
	padding-top:30px;
	padding-bottom:25px;
	padding-left:25px;
}

.signtext { vertical-align:middle}


#loginbox {
	position: relative;
	padding: 0px 0 0px;
	color: #464646; 
	font-size: x-large;
	text-decoration: none;
	font-family: 'DakotaRegular';
	font-weight: bold;
    background-image:  url("images/splash1.png") ;
    background-position: 0px 0px;
    background-repeat: no-repeat; 
	padding-top:30px;
	padding-bottom:25px;
	padding-left:25px;
	text-align:left;
}

#loginbox a {text-decoration:none;
color:#333333;
}


#png1 {
	    background-image: url("images/1.png") ;
    	background-position: 15px 0px;
	    background-repeat: no-repeat; 		
		padding-left:60px;
		height:100px;
		padding-top: 0px;
 		text-align:left;	
		vertical-align: middle;	
     	margin-bottom:10px;		
 }


#png2 {
	    background-image: url("images/2.png");
  		background-position: 0px 0px;
  		background-repeat: no-repeat; 		
		padding-left:60px;		
		height:100px;
		padding-top: 0px;	
  	    text-align:left;	
		vertical-align:middle; 
		margin-bottom:10px;		 					
}

#png3 {
	    background-image: url("images/3.png");
    	background-position: 0px 0px;
	    background-repeat: no-repeat; 		
		padding-left:60px;		
		height:100px;		
		padding-top: 0px;
		text-align:left; 
		vertical-align:middle;	
}


#createuserbox {
	position: relative;
	padding: 0px 0 0px;
	color: #464646; 
	font-size: x-large;
	text-decoration: none;
	font-family: 'DakotaRegular';
	font-weight: bold;
    background-image: url("images/splash1.png");
    background-position: 0px 0px;
    background-repeat: no-repeat; 
	padding-top:30px;
	padding-bottom:25px;
	padding-left:25px;
	text-align:left;	
}

#ortext { text-align:center; }

#createuserbox a {text-decoration:none;
color:#333333;
}


#textresizer { 
    /*set the div in the top right corner*/
    position:absolute;
    top:0;
    right:0;
    width:200px; 
	padding-right: 30px;
}