<div class="feature">
    <h2>Welcome to Glewtiles</h2>
    <div class="feature_detail">
        <img src="/sites/all/themes/glewtiles/img/avatar474_2.gif" class="float_left" />
        <p>Glewtiles is a Modern UI style Web Dashboard featuring live tiles.
            It is built primary using HTML, Javascript and CSS.                                    
            </p>
    </div>
</div>