<div class="feature">
    <h2>What is a tile?</h2>
    <div class="feature_detail">
        <img src="/sites/all/themes/glewtiles/img/Sunny.png" class="float_left" />
        <p>Tiles are are boxes you see on the dashboard. 
            They are mini Apps. Try clicking one.
            They can fetch data from external sources.</p>
    </div>
</div>