<div class="feature">
    <h2>Drag & Drop</h2>
    <div class="feature_detail">
        <img src="/sites/all/themes/glewtiles/img/Desktop.png" class="float_left" />
        <p>You can drag & drop the tiles and re-arrange them as you like.
            You can also remove a tile by dropping it on the Trashcan.
        </p>
    </div>
</div>